body
{
	padding-right: 35%;
	padding-left: 35%;

}

.butHeigh
{
	height: 50px;
}


#whole
{
	margin-top: 100px;
	/*position: absolute;*/
}

#curPlay{
   	background-color: rgba(255, 255, 255, 0.7);
   	color: black;
    border: 1px #222;
    display: none;
}

#CD
{
	height: 300px;
	background: url(../img/cd.png) center no-repeat;
	background-size: contain;
}

#buttons
{
	background:  #eaecee ;
}

#playLast
{
	background: url("../img/icons/skip-backward-fill.svg") center no-repeat;
	background-size: contain;
}

#playLast:active
{
	background: url("../img/icons/skip-backward.svg") center no-repeat;
	background-size: contain;
}

#playCurrent
{
	background: url("../img/icons/play-fill.svg") center no-repeat;
	background-size: contain;
}

#playCurrent:active
{
	background: url("../img/icons/play.svg") center no-repeat;
	background-size: contain;
}

#pauseCurrent
{
	background: url("../img/icons/pause-fill.svg") center no-repeat;
	background-size: contain;
}

#pauseCurrent:active
{
	background: url("../img/icons/pause.svg") center no-repeat;
	background-size: contain;
}


#playNext
{
	background: url("../img/icons/skip-forward-fill.svg") center no-repeat;
	background-size: contain;
}

#playNext:active
{
	background: url("../img/icons/skip-forward.svg") center no-repeat;
	background-size: contain;
}

#playRandom
{
	background: url("../img/icons/arrow-left-right.svg") center no-repeat;
	background-size: contain;
}

/*#playRandom:active
{
	background: url("../img/icons/arrow-left-right.svg") red center no-repeat;
	background-size: contain;
}*/

/*#btnGetSong
{

}*/

#tracks
{
	height: 200px;
	max-height: 300px;
	min-height: 300px;
	overflow-y: hidden;

}

#searchField
{
	/*width: 486px;*/
	border: none;
}

#searchButton
{
	border: none;
}

#tracklist
{
	max-height: 156px;
	overflow: auto;
}

#dashBoard
{
	transition: 3s
}


.radius50
{
	border-radius: 50px;
}

#cover
{
	height: 500px;
	width: 500px;
	background-size: 100%;
}
