@font-face 
{
font-family: "Gadugi";
src: url("fonts/Gadugi.ttf");
/*src: url("fonts/Gadugi-Bold.ttf");*/
}


/*Resets*/

* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Gadugi', Arial, sans-serif;
}

h2
{
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  padding: 50px 0 28px 0;
  color: #dc8636;
  grid-column: 1;

/*  grid-column: 1/7;*/
}

body
{
/*  display: grid;
  grid-template-columns: 1fr; */
  background: url(img/imgBgRepeat.png) black;
}

 /*Modal*/

#modal 
{
  /*display: none;*/
/*  background: #dc8636;*/
  margin-top: 5%;
  padding: 30px 35%;
  position: fixed;
  margin-top: -100%;
  z-index: 1000;
}


#modalForm
{
  background: #dc8636;
  margin: 0 auto;
  padding: 10px 40px 15px 40px;
  display: grid;
  align-items: stretch;
  grid-gap: 10px;
  grid-template-columns: 1fr 30fr 1fr 30fr;
}

#modal input
{
  background: none; 
  font-size: 20px;
  padding: 5px 8px;
  grid-column: 1/5;
  width: auto;
  border: 1px solid #d0d2d3;
  color: #d0d2d3; 
}

#modal input::placeholder
{
  color: #d0d2d3;
}

#modal h3
{

  text-align: left;
  font-size: 23px;
  color: #d0d2d3;
  grid-column: 1/3;
}

.buttonClose
{
  /*background: url(img/imgClose.png);*/
  width: 35px;
  align-self: end;
  justify-self: end;
  grid-column: 4/5;
}

.radioLeft
{
  grid-column: 1/2 !important;
  margin: 74% auto;
}

.radioRight
{
  grid-column: 3/4 !important;
  margin: 74% auto;
}

.labelLeft
{
  grid-column: 2/3 !important;
}

.labelRight
{
  grid-column: 4/5 !important;
}

#modalForm label
{
  font-size: 20px;
  color: #d0d2d3;
  /*grid-column: 2fr;*/
}


#modalForm textarea
{
  background: none; 
  font-size: 24px;
  padding: 1px 13px 21px 13px;
  grid-column: 1/5;
  width: auto;
  border: 1px solid #d0d2d3;
  color: #d0d2d3; 

}

#modal textarea::placeholder
{
  color: #d0d2d3;
}

#modalSubmit
{
  background: #d0d2d3 !important;
  grid-column: 1/3 !important;
  border: 1px solid #d0d2d3 !important;
  color: #808184 !important;    
}

#modalClear
{
  grid-column: 3/5 !important;
  background: #58595b !important;
}
 

              /*Home*/


  
a
{
  font-family: 'Gadugi', Arial, sans-serif;
  color:inherit;
  text-decoration: none;
}

section
{
  margin-bottom: 5%;
}

#home
{
  /*background: #d0d2d3;*/
}

header
{
  background: #d0d2d3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
/*  position: fixed;
  width: -webkit-fill-available; 
  width: -moz-available;*/
}

header a
{
  font-weight: bold;
  color: #dc8636;
  font-size: 24px;
}


#logo
{
  justify-self:start;
}

header ul
{
  text-align: right;
  justify-self: end;
  grid-column: 4/5;
  padding: 10px 40px;
}

#homeContent
{
  /*background: #e2e2e2;*/
  /*border: 1px solid #e2e2e2;*/
  /*height: 800px;*/
  display: grid;
  padding: 0 33%;
  grid-template-columns: 1fr 3fr 1fr;
	margin-top: 33px;
}

#homeContent img
{
    margin: 368% auto;
    display: block;
    border-radius: 100%;
    transition: 1s;
}

#homeContent img:hover
{
background: #e2e2e2;
border-radius: 100%;
}

#artGallery
{
	margin: 10px 0;
	width: 500px;
	height: 600px;
	grid-column: 2;
	/*border: 1px solid #e2e2e2;*/
	transition: 0.5s;
}

			/*work*/

#work
{
  background: #dc8636;
  padding: 50px 150px;
  /*display: inline-block;*/
}

#workGallery
{
  background: black /*#d0d2d3*/;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-auto-rows: minmax(200px, auto); 
}

#workGallery img
{
    margin: 140% auto;
    display: block;
    /*border-radius: 100%;*/
    transition: 1s;
}

#workGallery img:hover
{
background: #e2e2e2;
border-radius: 100%;
}



#galleryLft
{
  grid-column: 1/2;
  grid-row: 1;
  /*min-height: 800px;*/
}

#galleryImgs
{
  background-size: contain;
  grid-column: 1/9;
  grid-row: 1;
  /*min-height: 800px;*/
  transition: 2s;
}

#galleryRgt
{
  grid-column: 3;
  grid-row: 1;
  /*min-height: 800px;*/
} 


              /*About*/
#about
{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  background: url(img/imgAbout.png) center no-repeat;
  background-size: cover;
  font-weight: bold;
}



.h2Close
{
  padding-bottom: 25px;
}

#aboutWrap
{

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 45px;
  /*margin: 30px;*/
  padding: 100px 10%;
  font-size: larger;
}

/*#about div
{
  display: inline-block;
}*/

#aboutTitl
{
  /*grid-column: 1/4 */
}

#aboutCard
{
  /*grid-column: 1/2 */
}

#aboutPic
{
  width: 100%;
  height: 50px;
  margin:0 0 20px 0;
  background: #dc8636;
  grid-row: 1/2;
}

#aboutMe
{
    grid-row: 2/4;
    list-style-type: none;
    text-decoration: none;
}

#aboutMe img
{
	width: 100%;
}


#aboutDesc
{
    /*grid-column: 2/4;*/
    font-size: 1.5vw;
}

 .aboutLimts
 {
 	min-height: 210px;
 }           






              /*Work*/

#work
{
  background: #dc8636;
  padding: 50px 150px;
  /*display: inline-block;*/
}

#workGallery
{
  background: black /*#d0d2d3*/;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-auto-rows: minmax(200px, auto); 
}

#workGallery img
{
    margin: 140% auto;
    display: block;
}


#galleryLft
{
  grid-column: 1/2;
  grid-row: 1;
  /*min-height: 800px;*/
}

#galleryImgs
{
  background-size: contain;
  grid-column: 1/9;
  grid-row: 1;
  /*min-height: 800px;*/
  transition: 2s;
}

#galleryRgt
{
  grid-column: 3;
  grid-row: 1;
  /*min-height: 800px;*/
} 


              /*Contact*/
#contact
{
  /*display: inline-block;*/
  background: #808184;
  padding: 30px 35% 10%;
  margin-bottom: 0;
}

#contact form
{
  margin: 0 auto;
  display: grid;
  align-items: stretch;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: repeat(5, 1fr);*/
}

#contact form input
{
  background: none; 
  font-size: 40px;
  padding: 5px 8px;

  grid-column: 1/3;
  width: auto;
  border: 1px solid #d0d2d3;
  color: #d0d2d3; 
}

#contact form input::placeholder
{
  color: #d0d2d3;
}

#contactSubmit
{
  background: #d0d2d3 !important;
  grid-column: 1/2 !important;

  border: 1px solid #d0d2d3 !important;
  color: #808184 !important;    
}

#contactClear
{
  grid-column: 2/3 !important;
}
			/*Footer*/
footer
{
  /*display: inline-block;*/
  background: #e2e2e2;
  padding: 30px 35%;
  margin-bottom: 0;
}

#socialMedia
{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#socialMedia img
{
	width: 50px;
	/*justify-self: center;*/
/*	grid-column: 1fr*/
}
                                     
              /*GridStyles*/


.grid
{
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items:stretch;
  align-items: stretch;
}

.gridItems
{
  grid-column: 1/3;
  grid-row: 1/3;
}
.selfAlign
{
  justify-self:start;
  justify-self:end;
  align-self: start;
  align-self: end;
}



